.color-font-white {
    color: #ffffff
}

.color-font-green {
    color: #037C75
}

.color-font-blue {
    color: #065ABA
}

.color-font-pink {
    color: #DB016E
}

.color-font-f3c {
    color: #FF33CC
}

.color-font-grey {
    color: #929292
}

.color-font-yellow {
    color: #F7BA2A
}

.color-font-2c {
    color: #2c2c2c
}

.color-font-c {
  color: #cccccc
}

.bg-default {
    background-color: #F2F2F2
}

.bg-no-data {
    background-image: url('../imgs/loading-students.gif');
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff
}

.bg-color-orange {
    background-color: #FF9934;
}

.bg-color-pink {
  background-color: #ff5152;
}

.border-color-default {
    border-color: #F2F2F2
}

.border-color-white {
  border-color: #ffffff;
}

.border-color-orange {
    border-color: #FF9934
}

.border-color-e6 {
    border-color: #e6e6e6
}

.border-color-pink {
    border-color: #ff5152
}