.page-container {
  height: 97%;
  width: 100%;
  padding-top: 5%;
}

.section-content {
    width: 90%;
    height: 95%;
    margin: 0 auto;
    background-color: #fff;
}

.section-content .title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    height: 5%;
    margin-top: .625rem;
}
.section-content .class-name {
  text-align: center;
  font-size: 0.625rem;
  color: #4E95FF;
}

.section-content .title>span {
    display: inline-block;
    border-bottom: 8px solid #DAE9F9;
    line-height: .4;
    width: 40%;
}

.section-content .btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 3rem;
}

.section-content .btn-close>img {
    width: 100%
}

.section-content .content-area {
    height: 80%;
    overflow: auto;
    padding: 1.625rem;
    font-size: 0.95rem;
}

.NO-data {
  background-image: url('../imgs/waiting.gif');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 50%;
}

#copyright{
    position: absolute;   
    bottom: 0;
    width: 100%;
    color: #999;
    font-size: x-small;
}

.ul-flex {
  display: flex;
  width: 100%;
}

/* 实心圆点 */
.round-point {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}

/* font-size */
.font-size-xsmall {
    font-size: x-small
}

.font-size-small {
    font-size: small;
}

.font-size-16 {
    font-size: 1rem
}

.font-size-20 {
  font-size: 1.25rem
}

.font-size-24 {
  font-size: 1.5rem
}

.font-size-32 {
  font-size: 2rem;
  font-weight: bold
}

.font-size-48 {
    font-size: 3rem;
    font-weight: bold
}




/* padding */
.padding-16 {
  padding: 1rem
}

.padding-top-8 {
    padding-top: .5rem
}

.padding-8 {
    padding: .5rem
}

.padding-8-2 {
    padding: .125rem /* 2/16 */ .5rem
}

.padding-0-4 {
    padding: 0 .25rem
}

/* margin */
.margin-top-4 {
  margin-top: .25rem
}

.margin-top-8 {
    margin-top: .5rem
}

.margin-right-8 {
  margin-right: .5rem
}

.margin-8-16 {
  margin: .5rem 1rem;
}

.margin-top-16 {
  margin-top: 1rem;
}

.margin-l-r-10 {
  margin: 0 .625rem
}

.margin-16 {
  margin: 1rem
}

/* border */
.border-radius-8 {
    border: 1px solid;
    border-radius: .5rem
}

.border-radius-4 {
    border-radius: .25rem
}

.border-bottom {
    border-bottom: 1px solid;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

