
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>新东方学生成长之旅</title>
		<link rel="stylesheet" href="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/css/index.css" />
	</head>
	<body>
		<div class="page1">			
			<ul class="sec1text">
				<li style="width:12px;font-size:12px;margin-left: -12px;margin-top:2px;">2 0 1 8 &nbsp;|&nbsp; 2 0 1 9 学年第一学期</li>
				<li style="font-size:18px;">李鸿暄成长之旅<br>︵<br>一年级<br>︶<br></li>
			</ul>
			<p><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/jiantou.png" alt="" id="zouhua"/></p>
		</div>
		<div class="page2" style="display:none;">
			<ul>
								<li id="chengji"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/xuekechengji.png" alt="" /></li>
												<li id="shetuan"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/shetuan.png" alt="" /></li>
												<li id="pinge"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/pinge.png" alt="" /></li>
												<li id="jiangcheng"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/jiangcheng.png" alt="" /></li>
												<li id="shenti"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/shenti.png" alt="" /></li>
								<li id="pingyu"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/pingyu.png" alt="" /></li>
								<li id="guanjianci"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/guanjianci.png" alt="" /></li>
								<li></li>
			</ul>
			<div class="footer">
				<ul>
										<li id="tongzhi"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/fangjia.png" alt="" /></li>
															<li id="zuoye"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/jiaqi.png" alt="" /></li>
															<li id="fenxiang"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/00zhuye/fenxiang.png" alt="" /></li>
									</ul>
			</div>
		</div>
				<!--成绩单-->
		<div class="chengjidan cjdpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec2" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/web/Home/images/01chengjidan/chengjibg.png');background-size: 100% 100%;">
		        	<!--<img src="images/01chengjidan/qianjing.png" alt="" onclick="return false"/>-->
		        	<d></d>
		        	<p><span>星路闪耀</span></p>
		        	<div class="stzkContainer">
		        		<div>
		        			<ul>
		        				<li>科目</li>
		        				<li>道德与法治</li><li>语文</li><li>数学</li><li>英语</li><li>体育</li><li>科学</li><li>音乐</li><li>美术</li>		        			</ul>
		        		</div>
		        				        				        				        		<div>
		        			<ul>
		        				<li>期末</li>
		        				<li>优秀</li><li>优秀</li><li>优秀</li><li>优秀</li><li>及格</li><li>优秀</li><li>优秀</li><li>良好</li>		        			</ul>
		        		</div>
		        				        				        	</div>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--奖惩情况-->
		<div class="chengjidan jczkpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec12" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/02jiangcheng/jiangchengbg.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>星月交辉</span></p>
		        	<h4>您的孩子李鸿暄本学期获得过</h4>
		        	<div class="jcqkContainer">
		        		<ul>
		        			<li><p>环保少年</p></li>		        		</ul>
		        	</div>
		        	<img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/02jiangcheng/yinjiang.png" alt="" class="jiangbei1"/>
		        	<img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/02jiangcheng/jinjiang.png" alt="" class="jiangbei2" />
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--身体状况-->
		<div class="chengjidan stqkpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec3" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/football2.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>星苗茁壮</span></p>
		        	<h3></h3>
		        	<h4>体质健康综合评价</h4>
		        	<div class="xkcjContainer">
		        		<ul>
		        			<li>身高：115厘米</li>
		        			<li>体重：28.4千克</li>
		        			<li class="shili">
		        				<span>视力：</span>
		        				<ul>
		        					<li>左 5.3</li>
		        					<li>右 5.3</li>
		        				</ul>
		        			</li>
		        		</ul>
		        	</div>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
				<!--老师评语-->
		<div class="chengjidan lspypage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec4" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/03pingyu/pingyubg.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>老师寄语</span></p>
		        	<div class="stcjContainer">
		        		<h3>李鸿暄同学</h3>
		        		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鸿暄，胖乎乎的你多可爱！课堂上能积极发言，管理眼保健操认真负责。老师常常想，如果你能让自己的文具“上课静悄悄”，养成专心听讲的好习惯，那你的成绩会更优秀的！寒假里，和好书交朋友吧！让它们陪你过一个充实快乐的假期。</p>
		        	</div>
		        	<img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/03pingyu/qianjing.png" alt="" onclick="return false"/>
		        	<span style="z-index:10;"><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
				<!--学生品格-->
		<div class="chengjidan xspgpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec5" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/04pinge/04pinggebg.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>星火灿烂</span></p>
		        	<div class="tzContainer">
		        		<div class="pgText">
		        			<h4>您的孩子李鸿暄同学</h4>
		        			<h4>在学期品格情况</h4>
		        			<p>优秀</p>
		        		</div>
		        	</div>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--社团成绩-->
		<div class="chengjidan stpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec6" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/01chengjidan/chengjibg.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>星光园地</span></p>
		        	<div class="stzkContainer">
		        		<div>
		        			<ul>
		        				<li>科目</li>
		        				<li>书法</li>		        			</ul>
		        		</div>
		        				        				        				        		<div>
		        			<ul>
		        				<li>期末</li>
		        				<li>★★★</li>		        			</ul>
		        		</div>
		        				        				        	</div>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--关键词-->
		<div class="chengjidan gjcpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec7" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/06guanjianci/guanjianci2.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>独特的我</span></p>
		    		<h1 class="gjc1">活泼</h1>
		        	<h4>关键词</h4>
		        	<ul class="gjc2">
		        		<li>2 0 1 9年新学期的关键词</li>
		        		<li>李鸿暄同学</li>
		        	</ul>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--放假通知-->
		<div class="chengjidan fjtzpage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec8" style="background-image:url('https://www.campusyun.com/Web/Home/images/007tongzhi/tongzhibg.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>放假通知</span></p>
		        	<div class="fatzContainer" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/007tongzhi/tongzhicard.png');background-size: 100% 70%;background-repeat: no-repeat;background-color: #fff;">
		        		<ul class="fjtzText" style="overflow-y:auto;">
		        					        			<li>1、2019年1月26日寒假开始 </li>
		                    		        			<li>2、2019年2月17日上午8点学生报到，2月18日学生开学 </li>
		                    		        		</ul>
		        	</div>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--假期作业-->
		<div class="chengjidan jqzypage">
			<div>
				<span class="cjdcenter"></span>
				<div class="section sec9" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/007tongzhi/tongzhibg.png');background-size: 100% 100%;">
		        	<d></d>
		        	<p><span>五彩假期</span></p>
		        	<!--<div class="fatzContainer" style="background-image:url('./Web/Home/images/008jiaqi/jiaqicard.png');background-size: 100% 70%;background-repeat: no-repeat;background-color: #fff;">-->
					<div class="fatzContainer" style="width: 100%;height: 90%;margin-top:0;overflow-y:auto;">
		        		<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/wcjq/1.png" alt="" style="width:100%;"/></span>
		        	</div>
		        	<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
						<!--分享-->
		<div class="chengjidan fxpage">
			<div style="margin-top:5%;">
				<span class="cjdcenter"></span>
				<div class="section sec10" style="background-image:url('https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/007tongzhi/tongzhibg.png');background-size: 100% 100%;width:100%;height:100%;">
		        	<d></d>
		        	<p><span>分享</span></p>
		        	<div class="fatzContainer2" style="height:85%;overflow-y:scroll;text-align:center;">
		        	</div>
					<span><img src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/images/closebtn.png" alt="" /></span>
		        </div>
			</div>
		</div>
			</body>
	<script src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/js/src/jquery-3.2.0.min.js"></script>
	<script src="https://www.campusyun.com/campus/APP/szbgs_xw/Web/Home/js/index.js"></script>
	<script type="text/javascript">
		var flag = 1;
		var objectid = "xmaseyXaCfTQEUdone";
		var user_no = "32050620120810015x";
		$('#fenxiang').click(function(){
			if(flag == 1){
				flag = 0;
				var url = "/campus/APP/szbgs_xw/index.php?s=/Home/Index/picture"+'/objectid/'+objectid+'/user_no/'+user_no; 
				$.get(url,function(data){
					var data = JSON.parse(data);
					if(data.code == 0){
						var html = '<img src="'+data.src+'" style="height:100%;">';
						$('.fxpage .fatzContainer2').html(html);
					}
					flag = 1;
				})				
			}
		})
	</script>
</html>