.split {
    width: 100%;
    height: 1px;
    background-color: #303133;
    margin: 5px 0 5px 0;
}

.parent {
    background-color: #409EFF;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent .son {
    background-color: #67C23A;
    width: 50px;
    height: 50px;
}

.custom_icons {
    display: flex;
    flex-direction: row;
}

